@import "fonts";
@import "header";

h1 {
    font-family: open-sans-condensed-bold;
    font-weight: bold;
}

// Post SCSS for the theme.

#logo {
    background-image: url([[pix:theme_sibsu|defaultlogo]]);
}

body.pagelayout-login {
    background-image: url([[pix:theme_sibsu|loginbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-frontpage {
    background-image: url([[pix:theme_sibsu|frontpagebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-mydashboard {
    background-image: url([[pix:theme_sibsu|dashboardbackgroundimage]]);
    background-size: cover;
}
body.pagelayout-course,
body.pagelayout-incourse {
    background-image: url([[pix:theme_sibsu|incoursebackgroundimage]]);
    background-size: cover;
}
body.pagelayout-embedded,
body.pagelayout-popup,
body.pagelayout-secure,
body.pagelayout-print {
    background-image: none;
}
body {
    background-image: url([[pix:theme_sibsu|defaultbackgroundimage]]);
    background-size: cover;
}
